<div class="block app-block-footer p-t p-b">
		<div class='row text-center'>
			</div>
  <div class="container">
    <div class="row">
      <div class="col-sm-2 m-b">
        <ul class="list-unstyled list-spaced">
          <li><h6 class="text-uppercase">Gest</h6></li>
					<li><a href="//gest.co">About Gest</a></li>
					<li><a href="https://gest.zendesk.com/hc/en-us" target="_blank">Help and support</a></li>
					<li><a href="/orders" target="_blank">Manage order</a></li>
        </ul>
      </div>
      <div class="col-sm-2 m-b">
        <ul class="list-unstyled list-spaced">
          <li><h6 class="text-uppercase">Company</h6></li>
					<li><a href="/about">About us</a></li>
					<li><a href="//blog.gest.co">Blog</a></li>
					<li><a href="//gest.totemapp.com" target="_blank">Press and media</a></li>
        </ul>
      </div>
      <div class="col-sm-2 m-b">
        <ul class="list-unstyled list-spaced">
          <li><h6 class="text-uppercase">Social</h6></li>
					<li><a href="//twitter.com/trygest" target="_blank">Twitter</a></li>
					<li><a href="//facebook.com/trygest" target="_blank">Facebook</a></li>
					<li><a href="//vimeo.com/trygest" target="_blank">Vimeo</a></li>
        </ul>
      </div>
			<div class='col-sm-6 m-b text-xs-left text-sm-right'>
				<p>apotact labs ©
					<script language="javascript" type="text/javascript"> var today = new Date(); var year = today.getFullYear(); document.write(year);</script>
			  </p>
			</div>
    </div>
  </div>
</div>

</div> <!-- closes stage shelf -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
