<div class="stage-shelf stage-shelf-right hidden" id="sidebar">
  <ul class="nav nav-bordered nav-stacked">
    <li class="nav-header">Company</li>
		<li> <a href="https://shop.trycelery.com/page/55a02a4af2de0e03005becea" data-celery="55a02a4af2de0e03005becea" data-celery-version="v2">Pre-order Now</a> </li>

    <li class=""> <a href="/about">About us</a> </li>
    <li class=""> <a href="/technology">Technology</a> </li>
		<li><a href="//gest.totemapp.com" target="_blank">Press and media</a></li>

    <li class="nav-divider"></li>

    <li class="nav-header">Social</li>
			<li >
				<a href="//facebook.com/trygest" target="_blank"><img class="social-svg" src="/img/facebook.svg" width="20px"/> Facebook</a>
			</li>
			<li >
				<a href="//twitter.com/trygest" target="_blank"><img class="social-svg" src="/img/twitter.svg" width="20px"/> Twitter</a>
			</li>
  </ul>
</div>

<div class='stage' id='stage'> <!-- don't forget to close this later -->
	
<nav class="navbar navbar-default navbar-padded text-uppercase app-navbar">
  <div class="container ">
      <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed p-x-0"
              data-target="#stage" data-toggle="stage" data-distance="-250">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class='navbar-brand'>
        <span><img src="/img/gest-logo-sm.png" alt="gest logo"
          class="w-md navbar-logo"/></span>
      </a>
    </div>
    <div class="navbar-collapse collapse text-uppercase">
      <ul class="nav navbar-nav navbar-right">
        <li >
					<a href="//facebook.com/trygest" target="_blank"><img class="social-svg" src="/img/facebook.svg" width="20px"/></a>
        </li>
        <li >
					<a href="//twitter.com/trygest" target="_blank"><img class="social-svg" src="/img/twitter.svg" width="20px"/></a>
        </li>
        <li >
          <a href="/technology">Technology</a>
        </li>
        <li >
          <a href="/about">About Us</a>
        </li>
		<li> <a class='store' href="https://shop.trycelery.com/page/55a02a4af2de0e03005becea" data-celery="55a02a4af2de0e03005becea" data-celery-version="v2">Pre-order Now</a> </li>
      </ul>
    </div><!--/.nav-collapse -->

  </div>
</nav>
