<!DOCTYPE html>
<html lang="en">
<head>

{{> head}}
{{> head_scripts }}

</head>
<body> 

{{> nav}}

    <iframe src="https://dashboard.trycelery.com/status"
      style= "display:flex;position: absolute; border:none; margin:0;
      padding:0; width: 100%; height:100%; "></iframe>

</div> <!-- closes stage shelf -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="/js/toolkit.js"></script>
		<script async type="text/javascript" src="https://www.trycelery.com/js/celery.js"></script>

		<!-- Google Analytics -->
		<script>
			window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
			ga('create', 'UA-60560705-4', 'auto');
			ga('send', 'pageview');
		</script>
		<script async src='//www.google-analytics.com/analytics.js'></script>
		<!-- End Google Analytics -->
  </body>
</html>

