  {{> header }}
    <link href="/onescroll.css" rel="stylesheet">
  {{> header_end }} 

  {{> nav }}

<!-- moile version here -->


</div> <!-- end shelf for mobile -->

<div class="hidden-xs col-sm-6 col-md-7 col-lg-5 p-t-lg v-tech-center">
<video class='fade-in fast ' id="gblow" width=100%" >
   <source src="/img/blowout.mp4" type="video/mp4">
   Your browser does not support this type of video.
</video>
</div>


<div class="blowout hidden-xs text-right" >
  <section>
    <div class="col-xs-5 col-xs-offset-6 p-r-lg v-tech-center" style="background-color:transparent;">
				<h1 class="block-title">Amazing technology.</h1>
				<p class='lead text-muted'>Gest is a digital toolkit that allows you to work with your hands in a more intuitive way.</p>
				<p>
        The San Francisco Bay Area faces a housing crisis.  With far more people
        wanting to live here than there are homes, rents have risen to record
        heights.  However, building new housing isn't easy, with concerns about
        traffic, views, gentrification, and open space, to name just a few.
        Still, the problem can be solved, though not by San Francisco alone.
        You'll have to plan and build regionally.
				</p>

  </div>
  </section>
  <section>
  <div class="col-xs-5 col-xs-offset-6 v-tech-center p-r-lg" style="background-color: transparent">
				<h1 class="block-title">Work all day.</h1>
				<p class='lead text-muted'>Gest has a 500mah battery so you can work
        with your hands all day</p>
				<p>
        The San Francisco Bay Area faces a housing crisis.  With far more people
        wanting to live here than there are homes, rents have risen to record
        heights.  However, building new housing isn't easy, with concerns about
        traffic, views, gentrification, and open space, to name just a few.
        Still, the problem can be solved, though not by San Francisco alone.
        You'll have to plan and build regionally.
				</p>
  </div>
  </section>
  <section>
  <div class="col-xs-5 col-xs-offset-6 v-tech-center p-r-lg" style="background-color: transparent">
				<h1 class="block-title">Universal.</h1>
				<p class='lead text-muted'>Gest was designed with comfort and
        versatility in mind.</p>
				<p>
        No matter how big or small your hand is, we've designed Gest to fit it
        prefectly. Adjustable finger mounts let you snap the sensors on to your
        fingers with ease.
				</p>

  </div>
  </section>

</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

<script src="/onescroll.min.js"></script>

{{> footer_end }}
