  {{> header }}
    <link href="/onescroll.css" rel="stylesheet">
  {{> header_end }} 

  {{> nav }}

<!-- moile version here -->


</div> <!-- end shelf for mobile -->

<div class="hidden-xs col-sm-6 col-md-7 col-lg-5 p-t-lg v-tech-center">
<video class='fade-in fast ' id="gblow" width=100%" >
   <source src="/img/blowout.mp4" type="video/mp4">
   Your browser does not support this type of video.
</video>
</div>


<div class="blowout hidden-xs text-right" >
  <section>
    <div class="col-xs-5 col-xs-offset-6 p-r-lg v-tech-center" style="background-color:transparent;">
				<h1 class="block-title">Fits like a glove.</h1>
				<p class='lead text-muted'>Designed with comfort and
        versatility in mind.</p>
				<p>
        After building literally dozens of prototypes,
        we finally settled on a design that stays snug and secure, without
        getting in the way. The small, light form factor doesn't interfere with
        how you normally use your hands, allowing you to mix gestures in
        with standard keyboard and mouse actions.
				</p>

  </div>
  </section>
  <section>
  <div class="col-xs-5 col-xs-offset-6 v-tech-center p-r-lg" style="background-color: transparent">
				<h1 class="block-title">Work all day.</h1>
				<p class='lead text-muted'>The latest Bluetooth technology for
        a truly wireless experience.</p>
				<p>
        A 500 mAh battery and our use of Bluetooth Low Energy means that Gest
        gives you 8 hours of active usage on a charge. It also means that you
        can use Gest from up to 150 feet away from your computer, which comes in
        handy for presentations. 
				</p>
  </div>
  </section>
  <section>
  <div class="col-xs-5 col-xs-offset-6 v-tech-center p-r-lg" style="background-color: transparent">
				<h1 class="block-title">Universal.</h1>
				<p class='lead text-muted'>We've designed Gest to fit your hand, no
        matter its size.</p>
				<p>
        The adjustable finger mounts can be moulded to fit your
        fingers perfectly, so you can snap them on and off with ease. We use a
        9-axis motion sensor on each finger to track them with sub-millimeter
        precision.
				</p>

  </div>
  </section>

</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

<script src="/onescroll.min.js"></script>

{{> footer_end }}
