{{> header }}
{{> header_end }} 
{{> nav }}


<div class='container text-center'>
  <div class='row p-b-md reveal-fade'>
    <div class='col col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-6'>
      <img src='/img/blowout1.jpg' class='img-responsive center-block' width="75%" alt='gest controller'>
    </div>
    <div class='col col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-6'>
      <h2 class="tech-title">Fits like a glove.</h2>
      <p class='tech-lead text-muted'>Designed with comfort and
      versatility in mind.</p>
      <p class='tech-text'>
      After building literally dozens of prototypes,
      we finally settled on a design that stays snug and secure, without
      getting in the way. The small, light form factor doesn't interfere with
      how you normally use your hands, allowing you to mix gestures in
      with standard keyboard and mouse actions.
      </p>
    </div>
  </div>
  <div class='row p-b-md reveal-fade'>
    <div class='col col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-6 col-sm-push-6'>
      <img src='/img/blowout2.jpg' class='img-responsive center-block' alt='gest controller'>
    </div>
    <div class='col col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-6
      col-sm-pull-6'>
      <h2 class="tech-title">Work all day.</h2>
      <p class='tech-lead text-muted'>The latest Bluetooth technology for
      a truly wireless experience.</p>
      <p class='tech-text'>
      A 500 mAh battery and our use of Bluetooth Low Energy means that Gest
      gives you 8 hours of active usage on a charge. It also means that you
      can use Gest from up to 150 feet away from your computer, which comes in
      handy for presentations. 
      </p>
    </div>
  </div>
  <div class='row p-b-md reveal-fade'>
    <div class='col col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-6'>
      <img src='/img/blowout3.jpg' class='img-responsive center-block' alt='gest controller'>
    </div>
    <div class='col col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-6'>
      <h2 class="tech-title">Universal.</h2>
      <p class='tech-lead text-muted'>We've designed Gest to fit your hand, no
      matter its size.</p>
      <p class='tech-text'>
      The adjustable finger mounts can be moulded to fit your
      fingers perfectly, so you can snap them on and off with ease. We use a
      9-axis motion sensor on each finger to track them with sub-millimeter
      precision.
      </p>

    </div>
  </div>
</div>

{{> footer}}
{{> footer_end}}

